.filter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: fixed;
	bottom: 0; /* Закрепить фильтр внизу страницы */
	left: 0;
	right: 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 30px;
}
.filter h1,
.filter h2 {
	color: #d9d9d9;
}
.filter-icon {
	width: 24px;
	height: 24px;
}
.filter-button {
	color: rgba(239, 239, 239, 0.5);
	border: rgba(239, 239, 239, 0.3) 1px solid;
	border-radius: 100px;
	background-color: transparent;
	padding: 4px 8px 4px 8px;
}
.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
}