* {
	font-family: 'Roboto Flex', sans-serif;
}

.toogleDisplay {
	background: transparent;
	border: none !important;
	font-size: 0;
}

.filter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: fixed;
	bottom: 0; /* Закрепить фильтр внизу страницы */
	left: 0;
	right: 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 30px;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.25);
}

.filter h1,
.filter h2 {
	color: #d9d9d9;
}
